[submodule "docs/CrystalGenomeASEExample__TD_000000654321_000"]
	path = examples/CrystalGenomeASEExample__TD_000000654321_000
	url = git@github.com:openkim-hackathons/CrystalGenomeASEExample__TD_000000654321_000.git
