*.pyc
*.egg-info
*.egg

# PyPI-specific dirs
dist/
build/
dist-old/

# test stuff
kim.log
lammps.log
/tests/kim.log
/tests/__pycache__/
/tests/*/__pycache__/
/tests/output/results.edn
/tests/*/output/results.edn
/tests/output/instance*
/tests/*/output/instance*
/tests/output/restart*
/tests/*/output/restart*
