{
        "prototype-label" {
            "source-value" "A2B_hP9_154_c_a"
        }
        "stoichiometric-species" {
            "source-value" [
                "O"
                "Si"
            ]
        }
        "a" {
            "source-value" 5.0461
            "source-unit" "angstrom"
            "si-unit" "m"
            "si-value" 5.0461e-10
        }
        "parameter-values" {
            "source-value" [
                1.063237
                0.54
                0.59
                0.72
                0.78
            ]
        }
}
